@using MovieApp.Data
<div class="movie-item">
    <h3><a href = "movie/?movieId=@ApiId">@Title @Utils.YearFilter(@Year)</a></h3>
    Rating: @Rating ⭐ (@Votes votes)
</div>



@code {
    [Parameter] public String ApiId { get; set; }
    [Parameter] public String Title { get; set; }
    [Parameter] public int Year { get; set; }
    [Parameter] public float Rating { get; set; }
    [Parameter] public int Votes { get; set; }
    
}