@page "/movieList"
@using MovieApp.Data;
@using System.Diagnostics.CodeAnalysis
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.AspNetCore.WebUtilities
@inject MovieController MovieController;
@inject NavigationManager NavManager;

<PageTitle>Movie List</PageTitle>

<h1>Movie List</h1>
<form method="get" action="/movieList">
    <input name="title" type="text"/>
    <button>Search</button>
</form>
@if (Movies == null)
{
    <div class="spinner"> <img src="img/loading.gif"/></div>
}
else
{
    @foreach (var item in Movies)
    {
        var apiId = @item.id.ToString("D7");
        <MovieListItem Title="@item.title" Year="@item.year" ApiId="@apiId"/>
    }
}

@code {
    [AllowNull]public List<Data.Movie> Movies;
    public string MovieTitleQuery;
    public int Page = 1;
    
    protected override void OnInitialized()
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        var query = QueryHelpers.ParseQuery(uri.Query);
        
        if (query.TryGetValue("title", out var movieTitle))
        { MovieTitleQuery = movieTitle; }

        if (query.TryGetValue("page", out var page))
        { Page = Convert.ToInt16(page); }

    }
    
    protected override async Task OnInitializedAsync()
    {
        Movies = null;
        await Task.Run(() => { Movies = MovieController.getMovies(page: Page, title: MovieTitleQuery); 
        });
    }
}