@page "/movieList"
@using MovieApp.Data;
@inject MovieController MovieController;

<PageTitle>Movie List</PageTitle>

<h1>Movie List</h1>

@foreach (var item in Movies)
{
    var apiId = @item.id.ToString("D7");
    <MovieListItem Title="@item.title" Year="@item.year" ApiId="@apiId"/>
}

@code {
    public List<Data.Movie> Movies;
    
    protected override async Task OnInitializedAsync()
    {
        Movies = MovieController.getMovies(1);
        Console.WriteLine(Movies.First());
    }

}