@page "/movieList"
@using MovieApp.Data;
@using System.Diagnostics.CodeAnalysis
@inject MovieController MovieController;

<PageTitle>Movie List</PageTitle>

<h1>Movie List</h1>
@if (Movies == null)
{
    <div class="spinner"> <img src="img/loading.gif"/></div>
}
else
{
    @foreach (var item in Movies)
    {
        var apiId = @item.id.ToString("D7");
        <MovieListItem Title="@item.title" Year="@item.year" ApiId="@apiId"/>
    }
}

@code {
    [AllowNull]public List<Data.Movie> Movies;
    
    protected override async Task OnInitializedAsync()
    {
        Movies = null;
        await Task.Run(() => { Movies = MovieController.getMovies(1); });
    }

}