@using MovieApp.Data
<div>
    <h3><a class="movie-item" href="../person/@ApiId">@Name @(Utils.BirthFilter(@Birth))</a></h3>
</div>



@code {
    [Parameter] public String ApiId { get; set; }
    [Parameter] public String Name { get; set; }
    [Parameter] public int? Birth { get; set; }

}